/**
 * Block styles
 */

#block_hubcourselist_status.no-result {
    margin: 20px 10px;
}

.hcl-inline {
    display: inline-block;
    margin-left: 10px;
}

.table-container {
    position: relative;
}

.table-container .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

table.hubcourselist thead th {
    cursor: pointer;
}

table.hubcourselist thead th:hover {
    background-color: #ededed;
}

table.hubcourselist tbody tr:hover {
    cursor: pointer;
    background-color: #ededed;
}

table.hubcourselist tbody td a {
    color: #000000;
    text-decoration: none;
}

.spinner-container .loader-text {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3px 10px;
}

/*https://stephanwagner.me/only-css-loading-spinner*/
.spinner-container .loader {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 5px auto;
    border-radius: 50%;
    border: 6px solid #ccc;
    border-top-color: #333;
    animation: hubcourselist-loader 1s linear infinite;
}

@keyframes hubcourselist-loader {
    to {
        transform: rotate(360deg);
    }
}